[Unit]
Description=vsm veb core NAME_DOMAIN application

[Service]
WorkingDirectory=/var/www/html/NAME_DOMAIN
ExecStart=/usr/bin/dotnet /var/www/html/NAME_DOMAIN/VSM.Web.Core.dll
Restart=always
RestartSec=10
SyslogIdentifier=NAME_DOMAIN
User=www-data

Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false
[Install]

WantedBy=multi-user.target
